/Transformador/projeto_aquisicao_local/projeto-node-local/node_modules

/Transformador/projeto_aquisicao_local/projeto-arduino/node_modules

/Máquinas/API/pythonms/env

/Máquinas/API/slack/cat
/Máquinas/API/slack/env
/Máquinas/APIGenerica/pythonms/env
/Máquinas/APIGenerica/pythonics/env
/Máquinas/SwingDagda/dagda-mysql/target/
/Máquinas/SwingDagda/dagda-mysql-linux/dagda-mysql/target/
